<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div class="container" id="app">

        <div class="row">


            <div class="col-12 bdprueba text-center">
                <h1>{{mensaje}} - {{numero}}</h1>
            </div>
            <div><br></div>


            <div class="col-12 bdprueba text-center">
                <!-- Boton saca modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" title="Soy un Tooltip en un Modal" data-bs-target="#exampleModal">
                Editar Productos
                </button>

                << Click - Soy un Modal <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar Productos</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- ingreso de productos -->
                                    <label>Producto : </label>
                                    <input type="text" v-model="nuevoProducto"><br><br>
                                    <label>Cantidad : </label>
                                    <input type="number" v-model="cantidad"><br><br>
                                    <label>Precio Ud:</label>
                                    <input type="number" v-model="precio" @keyup.enter="agregarProducto"><br><br>
                                </div>
                                <div class="modal-footer">
                                    <button @click="agregarProducto" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ingresar</button>
                                    <button type="button" @click="eliminarProducto" class="btn btn-primary">Eliminar ultimo Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <br><br>

        <!-- aqui comienza la tabla -->
        <table class="table table-striped">
            <thead>
                <tr class="table-success">
                    <th scope="col">Id</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Notas</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="contador in objeto">
                    <th scope="row">*</th>
                    <td>{{contador.producto}}</td>
                    <td>{{contador.cantidad}} </td>
                    <td>{{contador.precio}}</td>
                    <td>{{contador.cantidad*contador.precio}}</td>
                    <td> <span v-if="contador.precio===0"> >> Sin Precio</span>
                        <span v-if="contador.cantidad<=8"> >> Poco Stock!! </span></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <h3>Total Inventario</h3>
                    </td>
                    <td>
                        <h3>{{calculartotalInventario}}</h3>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

    <script src="script.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>